<!-- Loading state -->
<div *ngIf="loading" class="loading-state">
  <div class="spinner"></div>
  <p>Loading profile...</p>
</div>

<!-- Error state -->
<div *ngIf="error" class="error-state">
  {{ error }}
</div>

<!-- Employee Data -->
<div *ngIf="emp" class="profile-page">

  <!-- Your Profile -->
  <div class="profile-section">
    <div class="profile-card main-card">
      <div class="avatar">{{ emp.firstName.charAt(0) }}{{ emp.lastName.charAt(0) }}</div>
      <div class="profile-header">
        <h2 class="profile-name">{{ emp.firstName }} {{ emp.lastName }}</h2>
        <p class="profile-designation">{{ emp.designation }}</p>
      </div>
      <div class="profile-info">
        <div class="profile-item">
          <span>Email:</span>
          <span>{{ emp.email }}</span>
        </div>
        <div class="profile-item">
          <span>Mobile No:</span>
          <span>{{ emp.mobileNo }}</span>
        </div>
        <div class="profile-item">
          <span>Date of Birth:</span>
          <span>{{ emp.dob }}</span>
        </div>
        <div class="profile-item">
          <span>Gender:</span>
          <span>{{ emp.gender }}</span>
        </div>
      </div>
    </div>
  </div>

  <!-- Team Profiles -->
  <!-- My Team Section -->
<div class="profile-section">
  <h1 class="section-title">
    <span class="section-icon"></span>
  </h1>


  <div class="team-list">
    <div class="team-row header">
      <div class="col-name">Name</div>
      <div class="col-role">Designation</div>
      <div class="col-email">Email</div>
      <div class="col-phone">Mobile</div>
      <div class="col-dob">DOB</div>
      <div class="col-gender">Gender</div>
    </div>

    <div *ngFor="let item of teamData" class="team-row">
      <div class="col-name">
        <div class="avatar-small">{{ item.firstName.charAt(0) }}{{ item.lastName.charAt(0) }}</div>
        <span class="employee-name-with-icon">
          <a
            [routerLink]="['/profile/chat/user', item._id, item.firstName + ' ' + item.lastName]"
            routerLinkActive="router-link-active"
            class="message-icon-link"
            title="Message {{ item.firstName }}"
          >
            📩
          </a>
          <span class="employee-name">{{ item.firstName }} {{ item.lastName }}</span>
        </span>
      </div>
      <div class="col-role">{{ item.designation }}</div>
      <div class="col-email">{{ item.email }}</div>
      <div class="col-phone">{{ item.mobileNo }}</div>
      <div class="col-dob">{{ item.dob }}</div>
      <div class="col-gender">{{ item.gender }}</div>
    </div>
  </div>
</div>


</div>

<!-- Chat Section -->
 <router-outlet></router-outlet>
