<!-- Loading state -->
<div *ngIf="loading">Loading...</div>

<!-- Error state -->
<div *ngIf="error" class="error">{{ error }}</div>

<!-- Employee Data -->
<div *ngIf="emp" class="profile-container">
  <div class="profile-card">
    <div class="profile-header">
      <h2 class="profile-name">{{ emp.firstName }} {{ emp.lastName }}</h2>
      <p class="profile-designation">{{ emp.designation }}</p>
    </div>
    <div class="profile-info">
      <div class="profile-item">
        <span class="profile-label">Email:</span>
        <span class="profile-detail">{{ emp.email }}</span>
      </div>
      <div class="profile-item">
        <span class="profile-label">Mobile No:</span>
        <span class="profile-detail">{{ emp.mobileNo }}</span>
      </div>
      <div class="profile-item">
        <span class="profile-label">Date of Birth:</span>
        <span class="profile-detail">{{ emp.dob }}</span>
      </div>
      <div class="profile-item">
        <span class="profile-label">Gender:</span>
        <span class="profile-detail">{{ emp.gender }}</span>
      </div>
    </div>
  </div>
</div>

<div *ngIf="emp" class="team-data-container">
  <div *ngFor="let item of teamData" class="profile-container">
    <div class="profile-card team-card">
      <div class="profile-header">
        <h2 class="profile-name">{{ item.firstName }} {{ item.lastName }}</h2>
        <p class="profile-designation">{{ item.designation }}</p>
      </div>
      <div class="profile-info">
        <div class="profile-item">
          <span class="profile-label">Email:</span>
          <span class="profile-detail">{{ item.email }}</span>
        </div>
        <div class="profile-item">
          <span class="profile-label">Mobile No:</span>
          <span class="profile-detail">{{ item.mobileNo }}</span>
        </div>
        <div class="profile-item">
          <span class="profile-label">Date of Birth:</span>
          <span class="profile-detail">{{ item.dob }}</span>
        </div>
        <div class="profile-item">
          <span class="profile-label">Gender:</span>
          <span class="profile-detail">{{ item.gender }}</span>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- <div *ngFor="let item of teamData">
  <div class="profile-item">
    <span class="profile-label">Email:</span>
    <span class="profile-detail">{{ item.email }}</span>
  </div>
</div> -->
